:root {
    font-family: "Open Sans";
    background-color: #0f1011;
    color: white;
    width: 69%;
    margin: auto;
}
a {
    color: #bb99ff;
    text-decoration: none;
    text-shadow: 0 0 5px;
}
.contact a {
  color: white;
  text-decoration: underline;
  text-shadow: none;
}
@font-face {
    font-family: "Open Sans";
    src: url(assets/OpenSans-Regular.ttf);
}
* { /* unfucks some stuff */
    box-sizing: border-box;
  }
.contact {
    float: left;
    min-width: 150px;
    width: 10%;
    padding: 15px;
    margin: 0px 10px 10px 0px;
    background-color: #232629;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width:500px) {
    .contact {
      width: 100%;
    }
    :root {
      width: 80%;
    }
  }
/* TODO: make it not bad */
